/* 
    Document   : screen
    Created on : 11.11.2012, 15:46:03
    Author     : Petr
    Description:
        Style for the main pages
*/

/*OVERRIDING JQuery CSS*/
.ui-controlgroup-vertical .ui-btn {
    margin: 10px;
}

/*APPLICATION CSS*/
.outer {
    position: relative;
}
.square-btn-img{
    position: relative;
    visibility: hidden;
    width: 100%;
    min-width: 100%;
}
.inner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow:hidden;
}

.home-menu-btn{
    height: 83%;
}

.home-exit-btn {
    position: absolute !important;
    bottom: 5px;
    width: 50%;
    left: 25%
}

.header-top {
    height: 42px;
}

.footer-bottom{
    height: 56px;
}

.map-canvas {
    position: absolute;
    top: 42px;
    right: 0;
    width:100%; 
    height:100%;
}

.right-list {
    float: right;
    margin-right: 20px;
}

